*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.container{
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    gap: 10px; 
    align-items: center;
    justify-content: center;
  }

  .reviewForm{
    /* border: 3px solid red; */
    width: 1080px;
    padding: 15px;
    margin: 0 auto;
  }

  .heading{
    text-align: center;
    margin-block: 20px;
}
.heading h2{
      font-weight: 700;
  }

  .main_container {
    /* border: 2px solid green; */
    width: 1095px;
    margin: 150px auto;
    text-align: center;
    padding: 20px;
    text-wrap: wrap;
    box-shadow: 0 5px 20px 1px gray;
  }
  .main_container p{
    opacity: .8;
    font-size: 16px;
  }
  .main_container h5{
    margin-block: 20px;
    font-weight: 700;
  }

  .review_table{
    width: 1095px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
  }